!-----------------------------------------------------------------
! Cisco NXOS TACACS+ Implementation
!-----------------------------------------------------------------
! [[SWITCH-NAME]]
!-----------------------------------------------------------------
!
!--save current configuration
copy running-config startup-config
!
!--enable TACACS+ feature
configure terminal
feature tacacs+
exit
!
!--save modified configuration
copy running-config startup-config
!
!--configure tacacs+ global pre-shared key
configure terminal
tacacs-server key 0 [[tacacs-key]]
exit
!
!--configure tacacs+ server hosts
configure terminal
tacacs-server host [[tacacs-host-1]] timeout 10
tacacs-server host [[tacacs-host-2]] timeout 10
show tacacs+ pending
tacacs+ commit
exit
!
!--validate the tacascs server hosts configuration
show tacacs-server
!
!--configure tacacs server group
configure terminal
aaa group server tacacs+ [[tacacs-server-group]] 
 server [[tacacs-host-1]] 
 server [[tacacs-host-2]] 
 deadtime 10
 source-interface [[source-interface]]
 exit
exit
!
!--save modified configuration
copy running-config startup-config
!
!--validate the tacascs server group configuration
show tacacs-server groups
!
!--test tacacs+ configuration implementation
test aaa group test [[username]] [[password]]
!
!--configure
configure terminal
aaa authentication login default group [[tacacs-server-group]]
aaa authorization config-commands default group [[tacacs-server-group]] local
aaa authorization commands default group [[tacacs-server-group]] local
aaa accounting default group [[tacacs-server-group]]
show tacacs+ pending
tacacs+ commit
exit
!
!--validate the tacascs server group configuration
show aaa authorization
!
!--test tacacs+ command authorization
test aaa authorization command-type commands user [[username]] command reload
!
!--save modified configuration
copy running-config startup-config
!